.App {
  text-align: center;
}

.btnDelete {
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: rgb(158, 19, 19);
  border-radius: 5px;
  cursor: pointer;
}

.btnAdd {
  padding: 10px 15px;
  border-radius: 7px;
  background-color: rgb(121, 179, 45);
  cursor: pointer;
}

.btnSave {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: orange;
  margin: 5px;
}

.btnCancel {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(255, 30, 0);
}

input {
  margin: 0 0 5px 5px;
}